.hakademy-typing-component{
    box-sizing: border-box;
}
.hakademy-typing-component.hakademy-text-cursor{
    padding-right:0.5rem;
    background-image: url("http://www.sysout.co.kr/file/image/669");
    background-repeat: no-repeat;
    background-size: 0.45rem 80%;
    background-position: right;
}
.hakademy-typing-component.flicker{
    animation: flicker 1s infinite;
}
@keyframes flicker {
    0%, 40%{
        background-position: 0 -50px;
    }
    40.1%, 100%{
        background-position: right;
    }
}