<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .path-viewer{
            position:fixed;
            top:0;
            left:0;
            right:50%;
            bottom:0;
            overflow-y: scroll;
            overflow-x: auto;
        }
        .text-viewer{
            position:fixed;
            top:0;
            right:0;
            left:50%;
            bottom:0;
            overflow-y:scroll;
            overflow-x:scroll;
        }
        .path-viewer > li{
            cursor:pointer;
        }
        .path-viewer > li:hover{
            background-color:black;
            color:white;
        }
    </style>
</head>
<body>
    <div id="zip-viewer">
        <ul class="path-viewer">
            <li v-for="(zip, index) in zipList" :key="index" @click="setData(zip)" :style="{'padding-left':zip.depth*15+'px'}">{{zip.name}}</li>
        </ul>
        <div class="text-viewer">
            <pre v-if="activeData != null" v-text="activeData.text"></pre>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./jszip.js"></script>
    <script src="./jszip_utils.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="./mime-converter.js"></script>
    <script>
        var filename = "toast.zip";
        var viewer = new Vue({
            el:"#zip-viewer",
            data:{
                zipList:[],
                activeData:null,
            },
            methods:{
                setData:function(zip){
                    // console.log(zip);
                    if(zip.mimetype){
                        this.activeData = zip;
                    }
                    else{
                        this.activeData = null;
                    }
                },
                path2Object:function(path, entry){
                    var object = {};

                    //fullpath
                    object.fullpath = path;

                    //mime-type
                    object.mimetype = Hakademy.util.mime2text(path);
                    
                    //type
                    var isEndSlash = path.endsWith("/");
                    if(isEndSlash){
                        object.type = "directory";
                        path = path.substr(0, path.length - 1);
                    }
                    else{
                        object.type = "file";
                    }
                    
                    //name
                    var index = path.lastIndexOf("/");
                    if(index < 0){//root
                        object.name = path;
                    }
                    else{//file
                        object.name = path.substr(index + 1 , path.length);
                    }

                    //path
                    if(index < 0){
                        object.path = "/";
                    }
                    else{
                        object.path = "/" + path.substr(0, path.length - object.name.length);
                    }

                    //depth
                    object.depth = (object.path.match(/\//g) || []).length;

                    //text
                    entry.async("blob").then(content=>{
                        var reader = new FileReader();
                        reader.onload = function(e){
                            object.text = e.target.result;
                        };
                        reader.readAsText(content);
                    })
                    return object;
                },
            },
            created:function(){
                var vm = this;
                var promise = new JSZip.external.Promise(function (resolve, reject) {
                    JSZipUtils.getBinaryContent('./'+filename, function(err, data) {
                        if (err) {
                            reject(err);
                        } else {
                            resolve(data);
                        }
                    });
                });
                promise.then(function(data){
                    return JSZip.loadAsync(data);
                })
                .then(function(zip){
                    zip.forEach(function(path, entry){
                        var object = vm.path2Object(path, entry);
                        vm.zipList.push(object);
                    });
                });
            },
        });        
    </script>
</body>
</html>